# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [4]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [5]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [6]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'annual_county', 'config', 'epa', 'local', 'met', 'ohio', 'uk_food']

In [8]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [9]:
# review the collections in our new database
print(db.list_collection_names())

['establishments']

In [12]:
# review the collections in our new database
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food')

In [18]:
# review a document in the establishments collection
documents = db.establishments.find()
for document in documents:
    print (documents)

<pymongo.cursor.Cursor object at 0x0000021DBEAF8308>

In [ ]:
# assign the collection to a variable
establishments = db["establishments"]

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [ ]:
# Create a dictionary for the new restaurant data
new_rest = []

In [ ]:
# Insert the new restaurant into the collection

In [ ]:
# Check that the new restaurant was inserted

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [ ]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields

3. Update the new restaurant with the `BusinessTypeID` you found.

In [ ]:
# Update the new restaurant with the correct BusinessTypeID

In [ ]:
# Confirm that the new restaurant was updated

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [ ]:
# Find how many documents have LocalAuthorityName as "Dover"

In [ ]:
# Delete all documents where LocalAuthorityName is "Dover"

In [ ]:
# Check if any remaining documents include Dover

In [ ]:
# Check that other documents remain with 'find_one'

5. Some of the number values are stored as strings, when they should be stored as numbers. Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [ ]:
# Change the data type from String to Decimal for longitude

In [ ]:
# Change the data type from String to Decimal for latitude

In [ ]:
# Check that the coordinates are now numbers